body{
    font-family: arial;
    color: darkorchid;
    background: linear-gradient(to right, #aea9ff, #ffc1cd, #fff8da);
}

h1 {
    font-family: 'Lobster';
}

.clearfix{
    clear:both;
}

.container{
    margin: auto;
    width: 60%;
    border: 3px dotted darkorchid;
    border-right: 0px;
    border-left: 0px;
    padding: 10px;
    text-align: center;
}

ul.ponys {
	min-width: 300px;
	list-style: none;
    transform: translateX(10%);
}

ul.ponys li {
   float:left;
}

ul.ponys li figure img{
    text-align: center;
} 

ul.ponys li figure figcaption {
    text-align: center;
} 