body {
    font-family: arial;
    color: darkorchid;
    background: url(../img/cloud.png) center, linear-gradient(to right, #aea9ff, #ffc1cd, #fff8da);
}

h1 {
    font-family: 'Lobster';
    color: #fff;
    display: block;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background: deeppink;
    border-radius: 30px;
}

.clearfix {
    clear:both;
}

.container {
    margin: auto;
    width: 80%;
    border: 3px dotted darkorchid;
    border-right: 0px;
    border-left: 0px;
    padding: 10px;
    text-align: center;
}

ul.ponys {
	min-width: 300px;
	list-style: none;
}

ul.ponys li {
   float:left;
}

ul.ponys li figure img{
    text-align: center;
} 

ul.ponys li figure figcaption {
    text-align: center;
    font-weight: bold;
} 